@page "/"
@inject IWebHostEnvironment Env

<PageTitle>Munson's Pickles & Preserves</PageTitle>

<h1>Welcome to Munson's Pickles & Preserves</h1>
<br/>
<h2>ASPNETCORE_ENVIRONMENT: @Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")</h2>
<h2>Environment.EnvironmentName: @Env.EnvironmentName</h2>