@page "/reviewdetails/{reviewId:int}"

@inject ReviewService ReviewService

@if (_review is null)
{
    <p>Waiting for some reviews...</p>
}
else
{
    <h1 class="display-3">@_review?.Product.Name Review</h1>

    <div>@_review?.Text</div>
                      
    @if (_review?.Photos is not null)
    {
        @foreach (var item in _review.Photos)
        {
            <div class="bg-light">
                <img src="@item.PhotoUrl" class="m-4" style="height:100px;" alt=""/>
            </div>
        }
    }
}

@code {
    [Parameter]
    public int ReviewId { get; set; }

    Review? _review;

    protected override async Task OnInitializedAsync()
    {
        _review = await ReviewService.GetReviewByIdAsync(ReviewId);
    }
}